{% extends 'AppCoder/padre.html' %}

{% block titulo %}

Bienvenido a nuestros cursos
{% endblock %}

{% block contenido %}
<h1>Cursos</h1>
<section >
    {% if formulario_curso.errors %}
              <p style="color:red">Los datos estan mal cargados.Por favor revisar.</p>
    {% endif %}

    <h4>Cursos activos:</h4>
    {% for curso in mis_cursos %}
    {{ curso.camada }} : {{ curso.nombre }}<br>
    {% endfor %}
    <hr>


    {% if nuevo_curso %}


    <p>Se agrego satisfactoriamente la camada {{ nuevo_curso.camada }} ({{ nuevo_curso.nombre }})</p>
    <hr>

    {% endif %}






    <form action="{% url 'cursos' %}" method="POST">
        {% csrf_token %}
            <table>
                {{formulario_curso.as_table}}
            </table>

            <input type="submit" value="Agregar curso">
    </form>
    

</section>

{% endblock  %}
