{% extends 'AppCoder/padre.html' %}

{% block titulo %}

Estos son nuestros integrantes
{% endblock %}

{% block contenido %}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <divc class="col-lg-12">
                <h1>Profesores</h1>
                <p>
                    <form action="{% url 'estudiantes' %}"></form>
                    <ul>
                    {% for profesor in profesores %}
                        <li>{{ profesor }} - <a href="{% url 'eliminar-profesor' profesor.id %}">Eliminar</a></li>
                    {% endfor %}
                    </ul>

                </p>

            </divc>

        </div>

    </div>

</section>










{% endblock  %}
