{% extends 'AppCoder/padre.html' %}

{% block titulo %}

Estos son nuestros integrantes
{% endblock %}

{% block contenido %}





<form action="{% url 'profesores' %}" method="POST">
    {% csrf_token %}
    <label for="">Nombre</label>
    <input type="text" name="nombre">
    <label for="">Apellido</label>
    <input type="text" name="apellido">
    <label for="">Email</label>
    <input type="email" name="email">
    <label for="">Profesion</label>
    <input type="text" name="profesion">
    <input type="submit">
</form>


{% endblock  %}
