<{% extends 'AppCoder/padre.html' %}

{% block titulo %}

Bienvenido a nuestros cursos
{% endblock %}

{% block contenido %}
    



!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la busqueda</title>
</head>
<body>

    <p>Estamos buscando la camada {{ camada }}</p>

    {% if cursos %}

    <ul>
        {% for curso in cursos %}
        <li>{{ curso.camada }}:<li>
        <li>{{ curso.nombre }}</li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No hay datos encontrados</p>

    {% endif %}

    <p style="color:red">{{respuesta}}</p>
</body>
</html>